<%include partials/header.ejs%>
  <section class="menu-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="navbar-collapse collapse ">
                        <ul id="menu-top" class="nav navbar-nav navbar-left">
                            <li><a href="/classes">Back to Classes</a></li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- MENU SECTION END-->
    <div class="content-wrapper">
        <div class="container">
              <div class="row">
                    <div class="col-md-12">
                        <h1 class="page-head-line">Assignments</h1>                        
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                        <div class="panel-heading">
                                <button data-toggle="modal" class="btn btn-success" data-target="#assignments">Post Assignment</button>
                        </div>
                        <div class="panel-body">
                            <div class="table-responsive">
                                    
                              <table class="table">
                                    <thead>
                                        <tr>
                                            <th>ID Number</th>
                                            <th>Name </th>
                                            <th>Mange</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    <% if(classes.length !== 0){ classes.forEach(function(c){%>
                                        <tr>
                                            <td><%=c.idnumber%></td>
                                            <td><%=c.name%></td>
                                            <td>
                                                <a href="/accept/<%=c.classID%>/<%=c.studentID%>">Accept Student</a><br>
                                                <a href="/reject/<%=c.classID%>/<%=c.studentID%>">Reject Sudent</a></td>
                                        </tr>
                                        <% })}else{%>
                                        <tr>
                                            <td>No Registered Students.</td>
                                        </tr>
                                    <%}%>
                                    </tbody>
                                </table>
                                <form ref='uploadForm' id='uploadForm' action='/upload' method='post' encType="multipart/form-data">
                                <div class="modal fade" id="assignments" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                            <h4 class="modal-title" id="myModalLabel">Upload Assignment</h4>
                                        </div>
                                        <div class="modal-body">
                                            <div class="form-group">
                                                <label class="control-label" for="date">Date of Submission</label>
                                                <input required name="date" type="date" class="form-control"/>
                                            </div>
                                            <div class="form-group">
                                                <label>Upload the assignment</label>
                                                <input required type="file" name="assignment" />
                                            </div>
                                           
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                            <button type='submit' class="btn btn-success" name="classID" value='<%=classID%>'>Upload</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            </form>
                            </div>
                        </div>
                    </div>
                        </div>
                </div>
        </div>
    </div>
    <!-- CONTENT-WRAPPER SECTION END-->
<%include partials/footer.ejs%>
