<%include partials/header.ejs%>
  <section class="menu-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="navbar-collapse collapse ">
                        <ul id="menu-top" class="nav navbar-nav navbar-right">
                            <li><a class="menu-top-active"  href="/classes">Classes</a></li>
                             <li><a href="/grades">Grades</a></li>
                             <li><a href="/announcements">Announcements</a></li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- MENU SECTION END-->
    <div class="content-wrapper">
        <div class="container">
              <div class="row">
                    <div class="col-md-12">
                        <h1 class="page-head-line">Classes </h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                           <!--   Basic Table  -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Active/Current Classes
                        </div>
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Class Code</th>
                                            <th>Code</th>
                                            <th>Subject </th>
                                            <th># of students enrolled </th>
                                            <th>Post Update</th>
                                            <th>Mange</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                            		<% if(classes.length !== 0){ classes.forEach(function(c){%>
                                        <tr>
                                            <td width="15%"><%=c.classCode%></td>
                                            <td width="15%"><%=c.genCode%></td>
                                            <td width="20%"><%=c.subject%></td>
                                            <td width="15%"><%=c.studentCount%></td>
                                            <td width="25%"><a href="/assignments/<%=c.classID%>">Assignments</a>
                                            	<br>
                                            	  <a href="#" data-classID='<%=c.classID%>' data-toggle="modal" data-target="#postAnnouncement">Announcement</a>
                                            </td>
                                            <td width="25%">
                                            	<a href="/students/<%=c.classID%>">View Students</a><br>
                                            	<a href="">Delete</a></td>
                                        </tr>
							        	<% })}else{%>
							        	<tr>
                                            <td>No records available.</td>
                                        </tr>
                               		<%}%>
                                    </tbody>
                                </table>
                                <form ref='uploadForm' id='uploadForm' action='/createAnnouncement' method='post' encType="multipart/form-data">
                                <div class="modal fade" id="postAnnouncement" tabindex="-1" role="dialog" aria-labelledby="postAnnouncement" aria-hidden="true" style="display: none;">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                            <h4 class="modal-title" id="myModalLabel">Post Announcement</h4>
                                        </div>
                                        <div class="modal-body">
                                            <div class="form-group">
                                                <label class="control-label" for="date">Date of Validity</label>
                                                <input required name="date" type="date" class="form-control"/>
                                            </div>
                                            <div class="form-group">
                                                <label>Subject</label>
                                                <input class="form-control" required type="text" name="subj" />
                                            </div>
                                              <div class="form-group">
                                                <label>Announcement</label>
                                                <textarea name="announcement" class="form-control"></textarea>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                            <button type='submit' class="btn btn-success" name="classID">Save</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            </form>
                            </div>
                        </div>
                    </div>
                    </div>
                  
                    <div class="col-md-6">
                        <div class="panel panel-default">
                        <div class="panel-heading">
                           Create a Class
                        </div>
                        <div class="panel-body">
                            <form method="POST" action="/createClass" role="form">
                                        <div class="form-group">
                                            <label class="control-label" for="success">Class Code</label>
                                            <input required name="classCode" min='0' type="number" class="form-control"/>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label" for="warning">Subject</label>
                                            <input required name="subject" type="text" class="form-control"/>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label" for="error">Code (to be given to students)</label>
                                            <input required name="genCode" type="text" class="form-control"/>
                                        </div>
                                        <div class="pull-right">
  											<button type="submit" class="btn btn-success">Submit</button>
  											<button type="reset" class="btn btn-danger">Cancel</button>
  										</div>

                                    </form>

                        </div>
                            </div>
                        </div>
                </div>
        </div>
    </div>

    <!-- CONTENT-WRAPPER SECTION END-->
<%include partials/footer.ejs%>
<script type="text/javascript">
    $(document).ready(function(){
        $('#postAnnouncement').on('show.bs.modal',function(e){
            var classID = $(e.relatedTarget).data('classid');

            $('button[name=classID]').val(classID);

        });

    })
</script>